@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
*{
    box-sizing: border-box;
}

body{
    background: #FFC6C6;
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding: 0;
}
#wrapper{
    display: flex;
}

#left{
    flex:5;
    background-color: #1F1F1F;
    color:#fff;
    height: 100vh;
    padding: 5px;
    opacity: 94%;
}

#left header{
    margin: 68px 60px;
    padding: 10px 10px 10px 0;
    /* border-bottom: 2px solid #fff; */
    /* max-width: 240px; */
    /* position: relative; */
}
#left header p{
    margin:0;
    padding:0 0 7px 0;
    font-size: 24px;
    letter-spacing: 8px;
    text-transform: uppercase;
    border-bottom: 2px solid #C1C1C1;
    max-width: 580px;
}

#left section{
    margin:0 200px 270px 68px;
}

#left section p{
    line-height: 1.5rem;
}

#left footer{
    margin-left: 68px;
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    font-size: 1.1rem;
}
#right{
    flex:2;
    background-color: #fff;
}

#right #hamburger{
    display: flex;
    justify-content: flex-end;
    margin: 68px 60px;
    align-items: left;
    cursor: pointer;
}

#right #hamburger .bars > div{
    width:35px;
    height:2px;
    background-color: #333;
    margin:6px 0;
}

#right #hamburger .bars .bar2::before{
    content:"";
    /* width:10px;
    height:2px; */
    /* background-color: #333; */
    /* margin:6px 0; */
}

/* #right #hamburger .bars .bar1{
    width:35px;
    height:2px;
    background-color: #333;
    margin:6px 0;
}
#right #hamburger .bars .bar2{
    width:45px;
    height:2px;
    background-color: #333;
    margin:6px 0;
}
#right #hamburger .bars .bar3{
    width:55px;
    height:2px;
    background-color: #333;
    margin:6px 0;
} */


#right section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#right section .profile-picture img{
    margin: auto;
    max-width: 100%;
    height: 380px;
    box-shadow: -1px 1px 4px 1px rgba(0, 0, 255, .2);
}

#right section .links{
    padding: 24px 24px 10px 24px;
}

#right section .links > a:nth-child(1),
#right section .links > a:nth-child(2){
    text-decoration: none;
    color: #000;
    padding: 0 2px;
    /* border-right: .1rem solid black; */
}

#right section .links a{
    text-decoration: none;
    color: #000;
    position: relative;
    /* idk why inline block is working but it's working */
    display: inline-block;
}


.links a:after{
    content:"";
    position:absolute;
    display: block;
    width:100%;
    height: 1px;
    bottom: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.45,0.05,0.55,0.95);
}

.links a:hover:after{
    transform: scaleX(1);
}



/* footer start */
footer{
    /* padding:5px; */
    margin-top: 37px;
    margin-left: 4px;
    font-size: 1.1rem;
}
#left footer a{
    text-decoration: none;
    color:#fff;
    padding-bottom: 2px;
}

#right footer a{
    text-decoration: none;
    color:#000;
    padding-bottom: 2px;
}

.link{
  position:relative;
}

.link1:after{
    content:"";
    position:absolute;
    width:0;
    right:0;
    bottom: 0;
    height:1px;
    background-color: #fff;
    transition: width .18s cubic-bezier(0.45,0.05,0.55,0.95);
}

.link2:after{
    content:"";
    position:absolute;
    width:0;
    right:0;
    bottom: 0;
    height:2px;
    background-color: #000;
    transition: width .18s cubic-bezier(0.45,0.05,0.55,0.95);
}

.link:hover:after{
  width:100%;
  left:0;
}

/* footer end */

/* responsive start */
@media screen and (max-width: 1083px){
    #left section{
        margin-bottom: 246px;
    }
}
@media screen and (max-width: 1075px){
    #left section{
        margin-bottom: 221px;
    }
}

@media screen and (max-width: 939px){
    #left section{
        margin-bottom: 196px;
    }
}

@media screen and (max-width: 880px){
    #left{
        height:100vh;
    }
    #wrapper{
        flex-direction: column;
    }
    #left section{
        margin-right: 40px;
    }
    #left footer{
        margin: 0;
        justify-content: center;
    }
    #hamburger{
        visibility: hidden;
    }
    #right section{
        padding: 20px;
    }

    #right footer{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
}
/* responsive end */
